# Este flujo de trabajo pretende validar la seguridad del c贸digo y env铆a los resultados a la secci贸n de seguridad del repositorio https://github.com/MIT-FS/ShopManager/security

name: calidad con codeql

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0,3'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Establezco el JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        # Initializes the CodeQL tools for scanning.
    - name: Inicio CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
        # If you wish to specify custom queries, you can do so here or in a config file.
        # By default, queries listed here will override any specified in a config file.
        # Prefix the list here with "+" to use these queries and those in the config file.
        # queries: ./path/to/local/query, your-org/your-repo/queries@main

    # Autobuild attempts to build any compiled languages  (C/C++, C#, or Java).
    # If this step fails, then you should remove it and run the build manually (see below)
    #- name: Autobuild
    #  uses: github/codeql-action/autobuild@v1

    # 癸 Command-line programs to run using the OS shell.
    #  https://git.io/JvXDl

    # 锔 If the Autobuild fails above, remove it and uncomment the following three lines
    #    and modify them (or add more) to build your code if your project
    #    uses a compiled language

    #- run: |
    #   make bootstrap
    #   make release
      #en lugar de usar lo que pone el action que reutilizo utilizo la construcci贸n con gradle
    - name: doy permisos de ejecuci贸n a gradlew
      run: chmod +x gradlew
    - name: ejeuto la tarea de construcci贸n
      run: ./gradlew assemble
    - name: ejecuto el an谩lisis est谩tico
      uses: github/codeql-action/analyze@v1
    - name: Enviando mail con el resultado
      uses: dawidd6/action-send-mail@v2
      with:
       server_address: smtp.gmail.com
       server_port: 465
       username: ${{secrets.MAIL_USERNAME}}
       password: ${{secrets.MAIL_PASSWORD}}
       subject: Resultado de la verificaci贸n est谩tica del c贸digo
       # Literal body:
       body: El trabajo de an谩lisis de calidad de ${{github.repository}} se ha realizado, lo tiene disponible en la secci贸n de seguridad del repositorio
       to: irm@us.es
       from: isa.roman@gmail.com # <user@example.com>
      
       # Optional attachments:
       attachments: /home/runner/work/ShopManager/results/java-builtin.sarif
